<%= render "form" %>
<div id="article_wrap">

        <div>
            <h2>
                <%= form_for @post do |f| %>
            <p>
                <%= f.label :title %></br>
               <%= f.text_field :title %>
               <% if  @post.errors.messages[:title].any? %>
               <span class="error"><%= @post.errors.messages[:title][0] %></span>
               <% end %>
            </p>
            <p>
                <%= f.label :picture %></br>
               <%= f.file_field :picture, id: :picture %>
               <%= f.hidden_field :picture_cache %>
               <% if  @post.errors.messages[:picture].any? %>
               <span class="error"><%= @post.errors.messages[:picture][0] %></span>
               <% end %>
            </p>
            <p class="picture">
                Selected picture</br>
                <%= image_tag @post.picture.url if @post.picture.present? %>
            </p>
            <p>
                <%= f.label :category %></br>
                <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :category) do |b| %>
                <%= b.label { b.check_box + b.text } %>
                <% end %>
            </p>
            <p>
                <%= f.label :content %></br>
               <%= f.text_area :content %>
               <% if  @post.errors.messages[:content].any? %>
               <span class="error"><%= @post.errors.messages[:content][0] %></span>
               <% end %>
            </p>
            <p>
               <%= f.submit %>
            </p>
            <% end %>
        </h2>
        </div>

    </div>

    <div class="clear"></div>
    </div>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html>
