<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>Rails Camp Blog</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
<body>

<header>
    <p id="logo"><a href="">RailsCamp<span>Blog</span></a></p>
    <nav>
        <ul>
            <li>
                <a>
            <%=link_to 'トップ', posts_path %>
            <% if logged_in? %>
            <%=link_to '新規投稿', new_post_path %>
            <%=link_to 'ログアウト', logout_path, method: :delete %>
            <% else %>
            <%= link_to 'ユーザー登録', new_user_path %>
            <%=link_to 'ログイン', login_path %>
            <% end %>
            <div class="clear"></div>
                </a>
            </li>
        </ul>
    </nav>
    <div class="clear">
    </div>
</header>

<div id="article_wrap">

<div id="article_list">
            <h2>
            <%= form_for @post do |f| %>
            <p>
                タイトル
                </br>
               <%= f.text_field :title %>
               <% if  @post.errors.messages[:title].any? %>
               <span class="error"><%= @post.errors.messages[:title][0] %></span>
               <% end %>
            </p>
            <p>
                記事内容
                </br>
               <%= f.text_area :content %>
               <% if  @post.errors.messages[:content].any? %>
               <span class="error"><%= @post.errors.messages[:content][0] %></span>
               <% end %>
            </p>
            <p>
               <%= f.submit %>
            </p>
            <% end %>
            </h2>
</div>

 <div class="clear"></div>
</div>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html>
