<%=render "form" %>

<p class="picture">
    <%= image_tag @post.picture.url if @post.picture.present?%>
</p>

<div id="title">
    <div>
        <h2>
        <h1><%= @post.title %></h1>
        user_email_adress：<%= @post.user.email if @post.user.present? %>
        </br>
        </h2>
        category：
        <% @post.post_categories.each do |f| %>
        <%= link_to f.category.category, posts_path(category: f.category.category) %>
        <% end %>
    </div>
</div>

<p>

</p>

<div id="article_wrap">

    <div id="content">
            <h2><p><%= @post.content %></p></h2>
    </div>


    <div id="sidebar">

        <h2>★PV数ランキング</h2>
        <ul>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html>
